

<div><img src='../static/icons/location.svg' class='icon_location_type'><img>123<button id="customize_close" onclick="customize_close()">X</button></div>


<!-- url(./images/bottom_button_outlet.png) -->




<!-- {% import 'icons.html' as icons %}

{% macro basic_location(location_name, location_type, location_reliability, location_uses, location_accessibilities) %}
<div class="basic_background"></div>
<div class="basic_location_popup">
  <div class="basic_location_content">
    <div class="basic_location_header">
      <span class="basic_location_icon">
        {{ icons.icon(location_type) }}
      </span>
      <span class="basic_location_title">
        <h3>{{ location_name }}</h3>
        <div class="basic_location_subtitle">{{ location_reliability }}% reliability at this time</div>
        <div class="basic_location_subtitle">{{ location_uses }} uses today</div>
      </span>
      <span class="basic_location_expand">
        {{ icons.icon("open") }}
      </span>
    </div>

    <div class="basic_location_accessibility">
      {% for accessibility in location_accessibilities %}
          {{ icons.icon(accessibility) }}
      {% endfor %}
    </div>

    <div class="basic_location_work">
      <div class="basic_location_subtitle">
        <strong>Did this location work for you?</strong>
      </div>
      <div class="basic_location_buttons">
        <span class="basic_location_work_buttons">
          {{ icons.icon("yes") }}
          {{ icons.icon("no") }}
        </span>
        <span class="basic_location_favorite">
          {{ icons.icon("heart") }}
        </span>
      </div>
    </div>
  </div>
  <div class="basic_location_arrow"></div>
  <div class="basic_location_arrow_outline"></div>
</div>  
{% endmacro %} -->